body{
    background-image: url("img/starry-sky.png");
}
.back{
    display: flex;
    width: 100%;
    justify-content: center;
}

.score {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
}
.grid {
    display: flex;
    width: 100%;
    justify-content: center;
}
.game {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px white;
    width: 300px;
    height: 300px;
}

.game div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: gray;
}

.invader {
    background-color: greenyellow;
    border-radius: 10px;
}

.boom {
    background-color: orange;
}

.laser {
    background-color: aqua;
    border-radius: 10px;
}