*{
    background-color: black;
}
.score {
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    color: white;
}
.grid {
    display: flex;
    width: 100%;
    justify-content: center;
}
.game {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px white;
    width: 300px;
    height: 300px;
}

.game div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
}